# See https://help.github.com/ignore-files/ for more about ignoring files.

__content__/
__backup__/
__environment__/

# other
.idea/*
.ignore*
google-services.json
GoogleService-Info.plist
debug.keystore

# dependencies
node_modules/
Pods/

# testing
coverage/

# production
build/

# misc
.DS_Store
*.env*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
