{
  "presets": ["babel-preset-expo", "react-native-dotenv"],
  "env": {
    "development": {
      "plugins": [
        "babel-plugin-inline-import",
        "transform-decorators-legacy",
        "transform-react-jsx-source",
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "@@components": "./src/components",
              "@@constants": "./src/constants",
              "@@navigation": "./src/navigation",
              "@@utilities": "./src/utilities",
              "@@config": "./src/config",
              "@@graphql": "./src/graphql"
            }
          }
        ]
      ]
    }
  }
}
