{
  "presets": ["flow", "babel-preset-expo", "react-native-dotenv"],
  "plugins": [
    "babel-plugin-inline-import",
    "transform-decorators-legacy",
    "transform-react-jsx-source",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@@assets": "./src/assets",
          "@@components": "./src/components",
          "@@screens": "./src/screens",
          "@@graphql": "./src/graphql",
          "@@utils": "./src/utils"
        }
      }
    ]
  ]
}
