{
  "presets": ["react-native"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-regenerator",
    "mobx-deep-action",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./app/components",
          "constants": "./app/constants",
          "screens": "./app/screens",
          "stores": "./app/stores",
          "utilities": "./app/utilities"
        }
      }
    ]
  ]
}
