{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "amd": true
  },
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "react/prop-types": 0,
    "react/display-name": [false],
    "quotes": [2, "single", "avoid-escape"],
    "semi": [2, "always"],
    "comma-dangle": [2, "always-multiline"],
    "no-console": "off"
  }
}
