{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-inline-import",
    "ramda",
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@@src": "./src",
          "@@context": "./src/context",
          "@@config": "./src/config",
          "@@connectors": "./src/connectors",
          "@@schema": "./src/schema",
          "@@database": "./src/database",
          "@@utilities": "./src/utilities"
        },
        "extensions": [".js"]
      }
    ]
  ]
}
