{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        "ramda",
        "transform-class-properties",
        "transform-object-rest-spread",
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "@@testing": "./src/testing",
                    "@@src": "./src",
                    "@@connectors": "./src/connectors",
                    "@@exceptions": "./src/exceptions",
                    "@@enums": "./src/enums",
                    "@@utils": "./src/utils",
                    "@@graphql": "./src/graphql",
                    "@@requests": "./src/requests"
                },
                "extensions": [".js"]
            }
        ]
    ]
}
