{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "ramda",
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@@src": "./src",
          "@@context": "./src/context",
          "@@server": "./src/server",
          "@@connectors": "./src/connectors",
          "@@model": "./src/model",
          "@@database": "./src/database"
        },
        "extensions": [".js"]
      }
    ]
  ]
}
