{
  "presets": [
    "flow",
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "ramda",
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "routes": "./src/routes",
          "database": "./src/database",
          "config": "./src/config",
          "utils": "./src/utils",
          "services": "./src/services",
          "context": "./src/context"
        },
        "extensions": [".js"]
      }
    ]
  ]
}
